.navigation{
    padding: 1.75rem 3.3rem 1.7rem 3.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.logo-text{
    color: #FFF;
    font-family: "Clash Display";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo-text span{
    color: var(--other-color);
}
.mobile-nav{
    display: block;
}
.nav-inner{
    display: none;
}
.nav-hide{
    display: none;
    /* transition: 0.5s ease-in-out; */
}
.nav-inner-mobile{
    padding: 3.3rem;
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
.nav-inner-mobile nav{
    width: 100%;
    list-style: none;
    display: block;
    margin-top: 50px;
}
.nav-inner-mobile nav li{
    margin-bottom: 30px;
    cursor: pointer;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.0625rem;
}
.close-outer{
    display: flex;
    justify-content: right;
}
.nav-close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;  
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;

    border-image-source: var(--primary-color);
}
.nav-close svg{
    font-size: 0.6875rem;
    color: #F8F8F8;
}
.register-button{
    padding: 1rem 3.25rem;
    border-radius: 4px;
    border: none;
    background: var(--primary-color);
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.register-button-mobile{
    margin-top: 20px;
}
@media(min-width:1000px){
    .navigation{
        padding: 4.19rem 8rem 1.87rem 8rem;
    }
    .logo-text{
        font-size: 2.25rem;
    }
    .logo-text span{
        color: var(--other-color);
    }
    .mobile-nav{
        display: none;
    }
    .nav-inner-mobile{
        display: none;
    }
    .nav-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 121px;
    }
    .nav-inner nav{
        list-style: none;
        display: flex;
        gap: 56px;
    }
    .nav-inner nav li{
        cursor: pointer;
        color: #FFF;
        font-family: "Montserrat";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .active{
        background: var(--primary-color);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
