.timelinee{
    position: relative;
}
.timeline-outer{
    width: 100%;
}
.timeline-head{
    color: #D434FE;
    text-align: right;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.right-container .textbox .timeline-head, .right-container .textbox .timeline-body{
    text-align: left;
}
.timeline-body{
    color: #FFF;
    text-align: right;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%; /* 1.49538rem */
}
.container{
    padding: 2rem 0rem 2rem 0rem;
    position: relative;
    width: 50%;
    /* background-color: aqua; */
}
.left-container{
    padding-right: 6rem;
}
.right-container{
    padding-left: 6rem;
}
.textbox{
    position: relative;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.timelinedate{
    position: absolute;
    right: -54%;
    top: 40%;
}
.timelinedate2{
    position: absolute;
    left: -54%;
    top: 40%;
}
.numbers{
    position: absolute;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: -30px;
    top: 30%;
    z-index: 10;
    background-color: var(--background);
    padding: 0.69rem 0.1rem 0.69rem 0.1rem;
}
.right-container .numbers{
    left: -30px;
}
.numbers-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}
.numbers-inner p{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.timeline-outer::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #D434FE;
    top: 0;
    left: 50%;
    margin-left: -3px;
}
@media screen and (max-width:1300px){
    .timelinedate{
        position: absolute;
        right: -70%;
        top: 40%;
    }
    .timelinedate2{
        position: absolute;
        left: -70%;
        top: 40%;
    }
}
@media screen and (max-width:1000px){
    .timeline-head{
        text-align: left;
        font-size: 0.75rem;
    }
    .timeline-body{
        text-align: left;
        font-size: 0.75rem;
    }
    .timeline-outer::after{
        left: 0%;
    }
    .container{
        padding: 2rem 1rem 2rem 1rem;
        position: relative;
        width: 100%;
        /* background-color: aqua; */
    }
    .left-container{
        padding-right: 0rem;
    }
    .right-container{
        padding-left: 0rem;
        left: 1rem;
    }
    .left-container .numbers{
        left: -5%;
    }
    .right-container .numbers{
        left: -10%;
    }
    .timelinedate{
        position: absolute;
        left: 1rem;
        top: 80%;
        width: 70%;
    }
    .timelinedate2{
        position: absolute;
        left: 0%;
        top: 80%;
        width: 70%;
    }
    .numbers{
        width: 24px;
        height: 24px;
    }
    .numbers-inner{
        width: 19.32px;
        height: 19.32px;
    }
    .numbers-inner p{
        font-size: 0.75rem;
    }
}