.footer{
    background-color: #100B20;
    padding: 3.19rem 4.25rem;
}
.footer-inner, .footer-left, .footer-center,.footer-right{
    position: relative;
}
.footer-logo{
    color: #FFF;
    font-family: "Clash Display";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-logo span{
    color: var(--other-color);
}
.footer-text{
    margin-top: 12px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 172.4%; /* 1.293rem */
}
.terms-and-policy{
    margin-top: 39px;
    display: flex;
    align-items: center;
}
.term, .policy{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 172.4%; 
}
.term{
    padding-right: 0.5rem;
    border-right: 3px solid var(--other-color);
}
.policy{
    padding-left: 0.5rem;
}
.footer-center{
    margin-top: 32px;
}
.footer-head{
    color: #D434FE;
    font-family: "Montserrat";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 172.4%; /* 1.5085rem */
}
.footer-center nav{
    margin-top: 6px;
    list-style: none;
}
.footer-center nav li{
    margin-bottom: 11px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 172.4%; /* 1.293rem */
}
.follow-us{
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.follow-us p{
    color: #D434FE;
    font-family:"Montserrat";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.follow-icons{
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 19px;
}
.follow-icons svg{
    color: #FFF;
    font-size: 1.5rem;
}
.footer-right{
    margin-top: 60px;
}
.footer-contact{
    margin-top: 8px;
    margin-bottom: 14px;
    display: flex;
    align-items: baseline;
    gap: 14px;
}
.footer-contact svg{
    color: #FFF;
    font-size: 0.8125rem;
}
.footer-contact p{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.star-30{
    position: absolute;
    top: 10%;
    left: -8%;
    font-size: 0.75rem;
    color: whitesmoke;
    animation: blink 1s infinite;
}
.star-31{
    position: absolute;
    top: 35%;
    right: 25%;
    font-size: 0.75rem;
    color: rgba(211, 211, 211, 0.4);
    animation: blink2 1s infinite;
}
.star-32{
    position: absolute;
    top: 15%;
    right: 8%;
    font-size: 0.4375rem;
    color: whitesmoke;
    animation: blink 1s infinite;
}
.star-33{
    position: absolute;
    bottom: -25%;
    left: 30%;
    font-size: 0.4375rem;
    color: var(--secondary-color);
    animation: blink4 1s infinite;
}
@media screen and (min-width:1000px){
    .footer{
        padding: 4.38rem 13.75rem;
    }
    .footer-logo{
        font-size: 1.875rem;
    }
    .footer-text{
        margin-top: 6px;
    }
    .terms-and-policy{
        margin-top: 74px;
    }
    .footer-inner{
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }
    .footer-left{
        width: 45%;
    }
    .footer-center{
        margin-top: 0px;
        /* width: 27%; */
    }
    .footer-right{
        margin-top: 0px;
        /* width: 27%; */
    }
    .star-30{
        position: absolute;
        top: 10%;
        left: -8%;
        font-size: 0.9375rem;
        color: whitesmoke;
        animation: blink 1s infinite;
    }
    .star-31{
        position: absolute;
        top: 35%;
        right: 25%;
        font-size: 0.9375rem;
        color: rgba(211, 211, 211, 0.4);
        animation: blink2 1s infinite;
    }
    .star-32{
        position: absolute;
        top: 15%;
        right: -40%;
        font-size: 0.9375rem;
        color: whitesmoke;
        animation: blink 1s infinite;
    }
    .star-33{
        position: absolute;
        bottom: -25%;
        left: -90%;
        font-size: 0.9375rem;
        color: var(--secondary-color);
        animation: blink4 1s infinite;
    }
}